# Configurações para as Variáveis de Ambiente da AWS Lambda

GMAIL_USER="seu-email@gmail.com"
GMAIL_APP_PASS="xxxx xxxx xxxx xxxx"        # Senha de app de 16 dígitos do Google
RECIPIENT_EMAIL="destino@seudominio.com"    # Onde você quer receber os e-mails
CAPTCHA_SECRET_KEY="0x4AAAAAA..."           # Secret Key do Cloudflare Turnstile
